*{
	padding: 0px;
	margin: 0px;
}
body{
	background-image: url("../img4/1.jpg");
}
.main{
	width: 1000px;
	margin: 0px auto;
}
.box1{
	
	width: 450px;
	height: 400px;
	padding: 20px;
	margin-top: 5px;
	margin-right: 10px;
	border: 3px solid rgba(135,135,135,1.00);
	float:left;
}
.box1 img{
	width: 160px;
	height: 210px;
	margin-right: 10px;
	float: left;
}
.box2{
	
	width: 435px;
	height: 400px;
	padding: 20px;
	margin-top: 5px;
	margin-right: 10px;
	border: 3px solid rgba(135,135,135,1.00);
	float:left;
} 
.box2 img{
	width: 160px;
	height: 210px;
	margin-right: 10px;
	float: left;
}
.box3{
	
	width: 450px;
	height: 470px;
	padding: 20px;
	margin-top: 5px;
	margin-right: 10px;
	border: 3px solid rgba(135,135,135,1.00);
	float:left;
}
.box3 img{
	width: 170px;
	height: 210px;
	margin-right: 10px;
	float: left;
}
.box4{
	
	width: 435px;
	height: 470px;
	padding: 20px;
	margin-top: 5px;
	margin-right: 10px;
	border: 3px solid rgba(135,135,135,1.00);
	float:left;
} 
.box4 img{
	width: 170px;
	height: 210px;
	margin-right: 10px;
	float: left;
}